# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/
dist/
build/
.env
venv/
.venv/

# OpenTofu / Terraform
**/.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!example.tfvars
.terraform.lock.hcl

# AWS
.aws/

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
Thumbs.db

# Lambda build artifacts
lambda/.build/
